Перед запуском убедитесь, что в корне проекта есть файл .env и в нем заполнены выданные вам креды подключения к базам данных и хранилищу

In [20]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
import os
import pandas as pd
from dotenv import load_dotenv, find_dotenv
from sqlalchemy import create_engine

In [22]:
# подгружаем .env
load_dotenv()

True

In [23]:
# Считываем все креды
src_host = os.environ.get('DB_SOURCE_HOST')
src_port = os.environ.get('DB_SOURCE_PORT')
src_username = os.environ.get('DB_SOURCE_USER')
src_password = os.environ.get('DB_SOURCE_PASSWORD')
src_db = os.environ.get('DB_SOURCE_NAME') 

dst_host = os.environ.get('DB_DESTINATION_HOST')
dst_port = os.environ.get('DB_DESTINATION_PORT')
dst_username = os.environ.get('DB_DESTINATION_USER')
dst_password = os.environ.get('DB_DESTINATION_PASSWORD')
dst_db = os.environ.get('DB_DESTINATION_NAME')

s3_bucket = os.environ.get('S3_BUCKET_NAME')
s3_access_key = os.environ.get('AWS_ACCESS_KEY_ID')
s3_secret_access_key = os.environ.get('AWS_SECRET_ACCESS_KEY')

In [24]:
src_db

'playground_common'

In [7]:
# Создадим соединения
src_conn = create_engine(f'postgresql://{src_username}:{src_password}@{src_host}:{src_port}/{src_db}')
dst_conn = create_engine(f'postgresql://{dst_username}:{dst_password}@{dst_host}:{dst_port}/{dst_db}')

In [35]:
from sqlalchemy import inspect
inspector = inspect(dst_conn)

for table_name in inspector.get_table_names():
   print(table_name)

users_churn

In [36]:
# Пример выгрузки данных из БД
SQL = f'select * from users_churn limit 10'
data = pd.read_sql(SQL, dst_conn)
data

Empty DataFrame
Columns: [id, customer_id, begin_date, end_date, type, paperless_billing, payment_method, monthly_charges, total_charges, internet_service, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, gender, senior_citizen, partner, dependents, multiple_lines, target]
Index: []

[0 rows x 22 columns]

In [25]:
# Пример выгрузки данных из БД
SQL = f'select * from internet limit 10'
data = pd.read_sql(SQL, src_conn)
data

,index,customer_id,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies
0,0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,4,9237-HQITU,Fiber optic,No,No,No,No,No,No
5,5,9305-CDSKC,Fiber optic,No,No,Yes,No,Yes,Yes
6,6,1452-KIOVK,Fiber optic,No,Yes,No,No,Yes,No
7,7,6713-OKOMC,DSL,Yes,No,No,No,No,No
8,8,7892-POOKP,Fiber optic,No,No,Yes,Yes,Yes,Yes
9,9,6388-TABGU,DSL,Yes,Yes,No,No,No,No

А дальше, творите!